:root {
  --main-fg: #C0AB68;
  --secondary-fg: #907B28;
}

body {
  margin: 0;
}


#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 3px solid var(--main-fg);
  gap: 20px;
}

#header button {
  font-size: 20px;
  border: 0;
  color: white;
  background-color: black;
  display: inline-block;
  position:relative;
  height: 1.5em;
  cursor: pointer;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
}

/* Animation thanks to 30secondsofcode
 * https://www.30secondsofcode.org/css/s/hover-underline-animation
 */
#header button:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-fg);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#header button:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


#header #logo {
  cursor: pointer;
}

#container {
  position: relative;
  min-height:100vh;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

#content img {
  float: left;
  width: 1200px;
  height: 700px;
  object-fit:cover;
}

.slideshow {
  display: flex;
  justify-content: center;
  padding: 40px 0px 60px 0px;
}

.slideshow button {
  width: 50px;
  background-color: transparent;
  border: 0;
  transition-duration: 0.3s;
}

.slideshow button:hover {
  background-color: black;
  color: white;
}

#content h2 {
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
  color: var(--secondary-fg);
  width: 50vw;
  height: 80px;
  border-bottom: 1px solid black;
}

#content p {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", "serif";
  text-align: center;
  width: 50vw;
  line-height: 1.6em;
  font-size: 15px;
  letter-spacing: 0.4px;
  padding: 40px;
  margin: 0;
}

#hours {
  font-size: 18px;
  font-family: proxima-nova;
  letter-spacing: 1px;
  padding: 40px 0px 20px 0px;
  border-top: 1px solid black;
  width: 30vw;
  text-align: center;
  line-height: 2em;
}

#footer {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;

  color: white;
  font-size: 18px;
  margin-top: 30px;
  position: absolute;
  bottom: 0;
  height: 8rem;
  width: 100%;
}
